@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<button class="btn btn-light"><--</button>
<form class="container">
    <div class="form-group">
        <label>Ime</label>
        <input type="text" class="form-check" placeholder="Ime" />
    </div>
    <div class="form-group">
        <label>Ime</label>
        <input type="text" class="form-check" placeholder="Ime" />
    </div>
    <div class="form-group">
        <label>Ime</label>
        <input type="text" class="form-check" placeholder="Ime" />
    </div>
    <div class="form-group">
        <label>Ime</label>
        <input type="text" class="form-check" placeholder="Ime" />
    </div>
</form>